@model MgMarmore.Site.ViewModels.PecaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PecaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
          
            <div class="form-group">
                <label asp-for="LarguraPeca" class="control-label"></label>
                <input asp-for="LarguraPeca" class="form-control" />
                <span asp-validation-for="LarguraPeca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApoioLargura" class="control-label"></label>
                <input asp-for="ApoioLargura" class="form-control" />
                <span asp-validation-for="ApoioLargura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoPeca" class="control-label"></label>
                <input asp-for="ComprimentoPeca" class="form-control" />
                <span asp-validation-for="ComprimentoPeca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApoioComprimento" class="control-label"></label>
                <input asp-for="ApoioComprimento" class="form-control" />
                <span asp-validation-for="ApoioComprimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetroQuadradoPeca" class="control-label"></label>
                <input asp-for="MetroQuadradoPeca" class="form-control" />
                <span asp-validation-for="MetroQuadradoPeca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
