@model MgMarmore.Site.ViewModels.BancadaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BancadaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Categoria" class="control-label">Categoria</label>
                <select asp-for="Categoria" class="form-control">
                    @for (int i = 0; i < ViewBag.TiposBancadas.Count; i++)
                    {
                        <option value="@i"> @ViewBag.TiposBancadas[i]</option>
                    }

                </select>
                
            </div>

            <div class="form-group">
                <label asp-for="Frontao" class="control-label"></label>
                <input asp-for="Frontao" class="form-control" />
                <span asp-validation-for="Frontao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saia" class="control-label"></label>
                <input asp-for="Saia" class="form-control" />
                <span asp-validation-for="Saia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metodo" class="control-label"></label>
                <input asp-for="Metodo" class="form-control" />
                <span asp-validation-for="Metodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImagemUpload" asp-for="ImagemUpload">
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImagemUpload"></label>
                    <label style="display: none" id="img_nome"></label>
                </div>

                <span asp-validation-for="ImagemUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadePecas" class="control-label"></label>
                <input asp-for="QuantidadePecas" class="form-control" />
                <span asp-validation-for="QuantidadePecas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetroQuadrado" class="control-label"></label>
                <input asp-for="MetroQuadrado" class="form-control" />
                <span asp-validation-for="MetroQuadrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });

        $("#ImagemUpload").attr("data-val", "true");
        $("#ImagemUpload").attr("data-val-required", "Preencha o campo Imagem");
    </script>
}